<a href="https://colab.research.google.com/github/nason554/sf_data_science/blob/main/40_PYT_Feature_Engineering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
log = pd.read_csv('/log.csv', header = None)
log.columns = ['user_id','time', 'bet','win']
log.head().isna()

   user_id   time   bet   win
0    False  False  True  True
1    False  False  True  True
2    False  False  True  True
3    False  False  True  True
4    False  False  True  True

In [ ]:
df = log.win.isna()
df.value_counts()

True     862
False    138
Name: win, dtype: int64

In [ ]:
#Сколько в датасете столбцов без пропусков?
log.dropna(axis = 1)
#1

                              user_id
0    Запись пользователя № - user_919
1    Запись пользователя № - user_973
2    Запись пользователя № - user_903
3    Запись пользователя № - user_954
4    Запись пользователя № - user_954
..                                ...
995  Запись пользователя № - user_984
996                            #error
997                            #error
998                            #error
999                            #error

[1000 rows x 1 columns]

In [ ]:
#Сколько в датасете строк без пропусков?
log.dropna(axis = 0)
#133

                              user_id  ...        win
14   Запись пользователя № - user_917  ...  1987653.0
29   Запись пользователя № - user_942  ...  9876543.0
151  Запись пользователя № - user_982  ...     4749.0
189  Запись пользователя № - user_964  ...     4667.0
205  Запись пользователя № - user_931  ...     4319.0
..                                ...  ...        ...
967  Запись пользователя № - user_975  ...     6108.0
971  Запись пользователя № - user_912  ...    31799.0
972  Запись пользователя № - user_926  ...    30244.0
976  Запись пользователя № - user_970  ...    30691.0
991  Запись пользователя № - user_965  ...     6927.0

[133 rows x 4 columns]

In [ ]:
log.drop_duplicates(subset = ('user_id', 'time'))

                              user_id                  time      bet     win
0    Запись пользователя № - user_919  [2019-01-01 14:06:51      NaN     NaN
1    Запись пользователя № - user_973  [2019-01-01 14:51:16      NaN     NaN
2    Запись пользователя № - user_903  [2019-01-01 16:31:16      NaN     NaN
3    Запись пользователя № - user_954  [2019-01-01 17:17:51      NaN     NaN
4    Запись пользователя № - user_954  [2019-01-01 21:31:18      NaN     NaN
..                                ...                   ...      ...     ...
991  Запись пользователя № - user_965  [2019-04-20 12:55:41    800.0  6927.0
992  Запись пользователя № - user_967  [2019-04-20 14:59:36  10154.0     NaN
993  Запись пользователя № - user_973  [2019-04-20 17:09:56  10254.0     NaN
994  Запись пользователя № - user_977  [2019-04-20 18:10:07  10354.0     NaN
995  Запись пользователя № - user_984   [2019-04-20 9:59:58   9754.0     NaN

[986 rows x 4 columns]

In [ ]:
log = pd.read_csv('/log.csv', header = None)
log.columns = ['user_id','time', 'bet','win']
log['time'] = log['time'].str.replace('[', '')
log.dropna(axis = 1)
log['time'] = pd.to_datetime(log['time'])
max = log['time'].max()
print(max)

2019-04-20 18:10:07

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
log = pd.read_csv("/log.csv")
log = log.dropna()
log.columns = ["user_id", "time", "bet", "win"]
log["time"] = log["time"].apply(lambda x: x[1:])
log["time"] = pd.to_datetime(log["time"])
log['time'] = log.time.apply(lambda x: x.minute)
log["time"].head()

13     57
28     59
150    54
188    34
204    26
Name: time, dtype: int64

In [ ]:
#Какая минута встречалась в данных чаще всего?
log = pd.read_csv("/log.csv")
log.columns = ["user_id", "time", "bet", "win"]
log = log.dropna(subset=['time'], axis=0)
log["time"] = log["time"].apply(lambda x: x[1:])
log["time"] = pd.to_datetime(log["time"])
minute = log['time'].dt.minute
minute.value_counts().head()

36    25
31    23
50    22
5     21
18    21
Name: time, dtype: int64

In [ ]:
#Какой месяц встречается в данных реже всего?
log = pd.read_csv("/log.csv")
log.columns = ["user_id", "time", "bet", "win"]
log = log.dropna(subset=['time'], axis=0)
log["time"] = log["time"].apply(lambda x: x[1:])
log["time"] = pd.to_datetime(log["time"])
month = log['time'].dt.month
month.value_counts(ascending=True)

4    170
2    259
3    264
1    291
Name: time, dtype: int64

In [ ]:
#Сколько дней в данных являются выходными (то есть суббота или воскресенье)?
log = pd.read_csv("/log.csv")
log.columns = ["user_id", "time", "bet", "win"]
log = log.dropna(subset=['time'], axis=0)
log["time"] = log["time"].apply(lambda x: x[1:])
log["time"] = pd.to_datetime(log["time"])
wday = log['time'].dt.day_of_week
def wds(w):
  if w == 5 or w == 6:
    return 1 
  else:
    return 0
day = wday.apply(wds)
day.sum()

283

In [ ]:
#Какое время суток встречается в данных реже всего?
log = pd.read_csv("/log.csv")
log.columns = ["user_id", "time", "bet", "win"]
log = log.dropna(subset=['time'], axis=0)
log["time"] = log["time"].apply(lambda x: x[1:])
log["time"] = pd.to_datetime(log["time"])
hour = log['time'].dt.hour

def hhor(h):
  if 0 <= h <= 5:
    return 'ночь'
  if 6 <= h <= 11:
    return 'утро'
  if 12 <= h <= 17:
    return 'день'
  if 18 <= h <= 23:
    return 'вечер'

t = hour.apply(hhor)
t.value_counts()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

ночь     265
утро     253
день     239
вечер    227
Name: time, dtype: int64

In [ ]:
log = pd.read_csv("/log.csv", header=None)
log.columns = ["user_id", "time", "bet", "win"]
log = log.dropna()
log["time"] = log["time"].apply(lambda x: x[1:])
log["time"] = pd.to_datetime(log["time"])
log['hour'] = log['time'].dt.hour
log

                              user_id                time  ...        win  hour
14   Запись пользователя № - user_917 2019-01-02 08:57:36  ...  1987653.0     8
29   Запись пользователя № - user_942 2019-01-04 13:59:42  ...  9876543.0    13
151  Запись пользователя № - user_982 2019-01-16 21:54:22  ...     4749.0    21
189  Запись пользователя № - user_964 2019-01-21 18:34:44  ...     4667.0    18
205  Запись пользователя № - user_931 2019-01-22 05:26:59  ...     4319.0     5
..                                ...                 ...  ...        ...   ...
967  Запись пользователя № - user_975 2019-04-19 22:25:15  ...     6108.0    22
971  Запись пользователя № - user_912 2019-04-20 10:35:49  ...    31799.0    10
972  Запись пользователя № - user_926 2019-04-20 10:35:50  ...    30244.0    10
976  Запись пользователя № - user_970 2019-04-20 10:35:54  ...    30691.0    10
991  Запись пользователя № - user_965 2019-04-20 12:55:41  ...     6927.0    12

[133 rows x 5 columns]

In [ ]:
#Cколько раз люди приходили, но не делали ставки?
log = pd.read_csv("/log.csv", header=None)
log.columns = ["user_id", "time", "bet", "win"]
log["bet"].fillna(0)

0          0.0
1          0.0
2          0.0
3          0.0
4          0.0
        ...
995     9754.0
996    10054.0
997    10454.0
998     1000.0
999    10754.0
Name: bet, Length: 1000, dtype: float64

In [ ]:
import pandas as pd
log = pd.read_csv("/log.csv", header=None)
log.columns = ["user_id", "time", "bet", "win"]
log['bet'] = log["bet"].fillna(0)
log['win'] = log['win'].fillna(0)

def fillna_win(row):
  if row.win > 0:
    return row.win
  elif row.bet == 0 and row.win == 0:
    return 0
  elif row.bet > 0 and row.win == 0:
    return row.win - row.bet

new_win = log.apply(lambda row: fillna_win(row), axis = 1)

log['win'] = new_win
#Сколько раз участники ставок проиграли деньги?
#Для ответа на вопрос посчитайте количество строк, у которых в столбце win находится отрицательное значение.
(log['win']<0).sum()

347

In [ ]:
log.head()

                            user_id                  time  bet  win
0  Запись пользователя № - user_919  [2019-01-01 14:06:51  0.0  0.0
1  Запись пользователя № - user_973  [2019-01-01 14:51:16  0.0  0.0
2  Запись пользователя № - user_903  [2019-01-01 16:31:16  0.0  0.0
3  Запись пользователя № - user_954  [2019-01-01 17:17:51  0.0  0.0
4  Запись пользователя № - user_954  [2019-01-01 21:31:18  0.0  0.0

In [ ]:
log['net'] = log['win'] - log['bet']

In [ ]:
log.head()

                            user_id                  time  bet  win  net
0  Запись пользователя № - user_919  [2019-01-01 14:06:51  0.0  0.0  0.0
1  Запись пользователя № - user_973  [2019-01-01 14:51:16  0.0  0.0  0.0
2  Запись пользователя № - user_903  [2019-01-01 16:31:16  0.0  0.0  0.0
3  Запись пользователя № - user_954  [2019-01-01 17:17:51  0.0  0.0  0.0
4  Запись пользователя № - user_954  [2019-01-01 21:31:18  0.0  0.0  0.0

In [ ]:
#У какого количества людей выигрыш положительный?
#Для ответа на вопрос создайте признак net, хранящий сумму выигрыша с учётом ставки.

print(log[log.win>0].net.count())

138

In [ ]:
#Каково среднее значение выигрыша (из столбца net) в тех случаях, когда выигрыш больше 0?

print(log[log.win > 0].net.mean())

80253.33333333333

In [ ]:
#Каково медианное значение выигрыша (из столбца net) в тех случаях, когда выигрыш больше 0?

print(log[log.win >0].net.median())

5347.0

In [ ]:
import pandas as pd
log = pd.read_csv("/log.csv", header=None)
log.columns = ["user_id", "time", "bet", "win"]
log['bet'] = log["bet"].fillna(0)
log['win'] = log['win'].fillna(0)
log['net'] = log['win'] - log['bet']

# Посчитайте, какой процент посещений букмекерской конторы оборачивался ставкой
# Для этого поделите количество ставок (значений больше 0) на общее количество посещений конторы.
# В качестве ответа укажите процент посещений, заканчивающихся ставкой.
# Результат округлите до одного знака после запятой.

print(log[log.bet > 0].bet.count() / log['user_id'].count() * 100)

48.5

In [ ]:
# Каково среднее значение ставки (из столбца bet) в тех случаях, когда ставка была сделана?

print(log[log.bet > 0].bet.mean())

6785.738144329897

In [ ]:
# Каков средний выигрыш (из столбца net) в тех случаях, когда ставка была сделана?

print(log[log.bet > 0].net.mean())

20421.892783505155

In [ ]:
# Каков средний размер потерь при проигрыше (из столбца net)?
print(log[log.net < 0].net.mean())

-3372.743515850144

In [ ]:
# Чем чаще всего заканчивается ставка — выигрышем или проигрышем?
# Для ответа на вопрос посчитайте, какой процент ставок заканчивается выигрышем, а какой — проигрышем, и сравните эти значения.

print('Процент ставок, заканчивающихся выигрышем:', log[log.net > 0].net.count() / log.user_id.count() * 100)
print('Процент ставок, заканчивающихся проигрышем:', log[log.net < 0].net.count() / log.user_id.count() * 100)

Процент ставок, заканчивающихся выигрышем: 13.8
Процент ставок, заканчивающихся проигрышем: 34.699999999999996

In [ ]:
# Напишите код, который узнает, чему была равна минимальная ставка и сколько людей сделали такую ставку.
# Посчитайте, чему равна минимальная ставка.
# Посчитайте, сколько раз была сделана минимальная ставка и запишите результат в переменную min_bet_amount в виде целого числа.

min_bet = log[log.bet > 0].bet.min()
min_bet_amount = log[log.bet == min_bet].bet.count()
print(' Минимальная ставка равна:',min_bet,'\n', 'Cтолько раз была сделана мин.ставка:', min_bet_amount)

 Минимальная ставка равна: 100.0
 Cтолько раз была сделана мин.ставка: 48

# 40.9 Объединяем датасеты

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
users = pd.read_csv("/users.csv", encoding = 'koi8-r', sep ='\t')
users.columns = ('user_id', 'email', 'geo')

In [ ]:
log = pd.read_csv('/log.csv', header = None)
log.columns = ['user_id','time', 'bet','win']

In [ ]:
log[['bet', 'win']] = log[['bet', 'win']].fillna(0)
log['net'] = log['win'] - log['bet']
log.time = log.time.str.strip('[')
log["time"] = pd.to_datetime(log["time"])

In [ ]:
# Приведём признак user_id к одному формату в обоих датасетах
users.user_id = users.user_id.apply(lambda x: x.lower())
# Избавимся от ошибок в user_id
log = log[log.user_id != "#error"]
log.user_id = log.user_id.str.split(" - ").apply(lambda x: x[1])

In [ ]:
df = pd.merge(users, log, on='user_id')
df.head()

    user_id                email     geo  ...    bet     win     net
0  user_943  Accumanst@gmail.com  Ижевск  ...    0.0     0.0     0.0
1  user_943  Accumanst@gmail.com  Ижевск  ...  100.0     0.0  -100.0
2  user_943  Accumanst@gmail.com  Ижевск  ...  100.0     0.0  -100.0
3  user_943  Accumanst@gmail.com  Ижевск  ...  100.0  5456.0  5356.0
4  user_943  Accumanst@gmail.com  Ижевск  ...  300.0  5245.0  4945.0

[5 rows x 7 columns]

In [ ]:
group_df = df.groupby('user_id')

In [ ]:
# Какова медиана баланса по каждому пользователю?
group_df.net.sum().median()

1986.0

In [ ]:
# Сколько раз в среднем каждый человек приходит, не делая ставок, при условии, что у этого человека все-таки есть хотя бы одна ставка?
# Просуммируйте в каждой группе количество записей со ставкой, равной 0, и поделите на общее количество групп.
# Если при этом в группе нет записей со ставкой больше 0, считаем количество записей в данной группе равным 0.

df[df.bet == 0].user_id.count() / df.user_id.nunique()

5.05

In [ ]:
log.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 985 entries, 0 to 995
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user_id  985 non-null    object
 1   time     985 non-null    datetime64[ns]
 2   bet      985 non-null    float64
 3   win      985 non-null    float64
 4   net      985 non-null    float64
dtypes: datetime64[ns](1), float64(3), object(1)
memory usage: 46.2+ KB

In [ ]:
# Сколько времени в среднем проходит между появлением человека в сервисе и первой ставкой?
# Считать нужно только тех, кто делал ставку и у кого в файле зарегистрирован первый визит без ставки.

min_time_bet_zero = log[log.bet == 0].groupby('user_id').time.min()
min_time_bet_more = log[log.bet > 0].groupby('user_id').time.min()
timedelta = min_time_bet_more - min_time_bet_zero
timedelta[(timedelta > pd.Timedelta('1 days'))].mean().days

49

In [ ]:
# Наибольший суммарный выигрыш среди всех городов имеет Москва. Определите, какой город следует за ней.
df.groupby('geo').win.sum()

geo
Арзангелтск           74375.0
Воронеж              184338.0
Екатеринбург          36682.0
Ижевск                84895.0
Казань                97806.0
Краснодар             62718.0
Красноярск            84767.0
Москва             11959741.0
Пермь                 67734.0
Санкт-Петербург      151007.0
Ставрополь            46003.0
Тюмень                 4701.0
Хабаровск             65459.0
Ярославль             97441.0
Name: win, dtype: float64

In [ ]:
# Во сколько раз различаются максимальное и минимальное значения средней ставки по городам?
df[df.bet > 0].groupby('geo').bet.mean().max() / df[df.bet > 0].groupby('geo').bet.mean().min()

127.81602335164835

In [ ]:
# Напишите код, который посчитает, сколько раз пользователи приходили в букмекерскую контору в каждом городе.

# загрузить датасеты
users = pd.read_csv("/users.csv", encoding = 'koi8-r', sep ='\t')
users.columns = ('user_id', 'email', 'geo')

log = pd.read_csv('/log.csv', header = None)
log.columns = ['user_id','time', 'bet','win']
# удалить нулевые значения 
log[['bet', 'win']] = log[['bet', 'win']].fillna(0)
# создать столбец net 
log['net'] = log['win'] - log['bet']
# отредактировать столбец с датой
log.time = log.time.str.strip('[')
log["time"] = pd.to_datetime(log["time"])
# удалить значения из user_id с ошибкой (#error) и приведите признак user_id к одному виду в обоих датасетах
users.user_id = users.user_id.apply(lambda x: x.lower())
log = log[log.user_id != "#error"]
log.user_id = log.user_id.str.split(" - ").apply(lambda x: x[1])
# слить два датасета в один по признаку user_id
df = pd.merge(users, log, on='user_id')
# сгруппировать данные по правильному признаку, потом выбрать user_id и с помощью функции count() подсчитать наблюдения для каждой группы
sample2 = df.groupby('geo').user_id.count()
print(sample2)

geo
Арзангелтск         96
Воронеж             88
Екатеринбург        49
Ижевск              61
Казань              66
Краснодар           86
Красноярск          56
Москва              61
Пермь               55
Санкт-Петербург    115
Ставрополь          36
Тюмень              32
Хабаровск           60
Ярославль           89
Name: user_id, dtype: int64