<a href="https://colab.research.google.com/github/nason554/sf_data_science/blob/main/40_PYT_Feature_Engineering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
log = pd.read_csv('/log.csv', header = None)
log.columns = ['user_id','time', 'bet','win']
log.head().isna()

   user_id   time   bet   win
0    False  False  True  True
1    False  False  True  True
2    False  False  True  True
3    False  False  True  True
4    False  False  True  True

In [ ]:
df = log.win.isna()
df.value_counts()

True     862
False    138
Name: win, dtype: int64

In [ ]:
#Сколько в датасете столбцов без пропусков?
log.dropna(axis = 1)
#1

                              user_id
0    Запись пользователя № - user_919
1    Запись пользователя № - user_973
2    Запись пользователя № - user_903
3    Запись пользователя № - user_954
4    Запись пользователя № - user_954
..                                ...
995  Запись пользователя № - user_984
996                            #error
997                            #error
998                            #error
999                            #error

[1000 rows x 1 columns]

In [ ]:
#Сколько в датасете строк без пропусков?
log.dropna(axis = 0)
#133

                              user_id  ...        win
14   Запись пользователя № - user_917  ...  1987653.0
29   Запись пользователя № - user_942  ...  9876543.0
151  Запись пользователя № - user_982  ...     4749.0
189  Запись пользователя № - user_964  ...     4667.0
205  Запись пользователя № - user_931  ...     4319.0
..                                ...  ...        ...
967  Запись пользователя № - user_975  ...     6108.0
971  Запись пользователя № - user_912  ...    31799.0
972  Запись пользователя № - user_926  ...    30244.0
976  Запись пользователя № - user_970  ...    30691.0
991  Запись пользователя № - user_965  ...     6927.0

[133 rows x 4 columns]

In [ ]:
log.drop_duplicates(subset = ('user_id', 'time'))

                              user_id                  time      bet     win
0    Запись пользователя № - user_919  [2019-01-01 14:06:51      NaN     NaN
1    Запись пользователя № - user_973  [2019-01-01 14:51:16      NaN     NaN
2    Запись пользователя № - user_903  [2019-01-01 16:31:16      NaN     NaN
3    Запись пользователя № - user_954  [2019-01-01 17:17:51      NaN     NaN
4    Запись пользователя № - user_954  [2019-01-01 21:31:18      NaN     NaN
..                                ...                   ...      ...     ...
991  Запись пользователя № - user_965  [2019-04-20 12:55:41    800.0  6927.0
992  Запись пользователя № - user_967  [2019-04-20 14:59:36  10154.0     NaN
993  Запись пользователя № - user_973  [2019-04-20 17:09:56  10254.0     NaN
994  Запись пользователя № - user_977  [2019-04-20 18:10:07  10354.0     NaN
995  Запись пользователя № - user_984   [2019-04-20 9:59:58   9754.0     NaN

[986 rows x 4 columns]

In [ ]:
log = pd.read_csv('/log.csv', header = None)
log.columns = ['user_id','time', 'bet','win']
log['time'] = log['time'].str.replace('[', '')
log.dropna(axis = 1)
log['time'] = pd.to_datetime(log['time'])
max = log['time'].max()
print(max)

2019-04-20 18:10:07

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
log = pd.read_csv("/log.csv")
log = log.dropna()
log.columns = ["user_id", "time", "bet", "win"]
log["time"] = log["time"].apply(lambda x: x[1:])
log["time"] = pd.to_datetime(log["time"])
log['time'] = log.time.apply(lambda x: x.minute)
log["time"].head()

13     57
28     59
150    54
188    34
204    26
Name: time, dtype: int64

In [ ]:
#Какая минута встречалась в данных чаще всего?
log = pd.read_csv("/log.csv")
log.columns = ["user_id", "time", "bet", "win"]
log = log.dropna(subset=['time'], axis=0)
log["time"] = log["time"].apply(lambda x: x[1:])
log["time"] = pd.to_datetime(log["time"])
minute = log['time'].dt.minute
minute.value_counts().head()

36    25
31    23
50    22
5     21
18    21
Name: time, dtype: int64

In [ ]:
#Какой месяц встречается в данных реже всего?
log = pd.read_csv("/log.csv")
log.columns = ["user_id", "time", "bet", "win"]
log = log.dropna(subset=['time'], axis=0)
log["time"] = log["time"].apply(lambda x: x[1:])
log["time"] = pd.to_datetime(log["time"])
month = log['time'].dt.month
month.value_counts(ascending=True)

4    170
2    259
3    264
1    291
Name: time, dtype: int64

In [ ]:
#Сколько дней в данных являются выходными (то есть суббота или воскресенье)?
log = pd.read_csv("/log.csv")
log.columns = ["user_id", "time", "bet", "win"]
log = log.dropna(subset=['time'], axis=0)
log["time"] = log["time"].apply(lambda x: x[1:])
log["time"] = pd.to_datetime(log["time"])
wday = log['time'].dt.day_of_week
def wds(w):
  if w == 5 or w == 6:
    return 1 
  else:
    return 0
day = wday.apply(wds)
day.sum()

283

In [ ]:
#Какое время суток встречается в данных реже всего?
log = pd.read_csv("/log.csv")
log.columns = ["user_id", "time", "bet", "win"]
log = log.dropna(subset=['time'], axis=0)
log["time"] = log["time"].apply(lambda x: x[1:])
log["time"] = pd.to_datetime(log["time"])
hour = log['time'].dt.hour

def hhor(h):
  if 0 <= h <= 5:
    return 'ночь'
  if 6 <= h <= 11:
    return 'утро'
  if 12 <= h <= 17:
    return 'день'
  if 18 <= h <= 23:
    return 'вечер'

t = hour.apply(hhor)
t.value_counts()

ночь     265
утро     253
день     239
вечер    227
Name: time, dtype: int64

In [ ]:
log = pd.read_csv("/log.csv", header=None)
log.columns = ["user_id", "time", "bet", "win"]
log = log.dropna()
log["time"] = log["time"].apply(lambda x: x[1:])
log["time"] = pd.to_datetime(log["time"])
log['hour'] = log['time'].dt.hour
log

                              user_id                time  ...        win  hour
14   Запись пользователя № - user_917 2019-01-02 08:57:36  ...  1987653.0     8
29   Запись пользователя № - user_942 2019-01-04 13:59:42  ...  9876543.0    13
151  Запись пользователя № - user_982 2019-01-16 21:54:22  ...     4749.0    21
189  Запись пользователя № - user_964 2019-01-21 18:34:44  ...     4667.0    18
205  Запись пользователя № - user_931 2019-01-22 05:26:59  ...     4319.0     5
..                                ...                 ...  ...        ...   ...
967  Запись пользователя № - user_975 2019-04-19 22:25:15  ...     6108.0    22
971  Запись пользователя № - user_912 2019-04-20 10:35:49  ...    31799.0    10
972  Запись пользователя № - user_926 2019-04-20 10:35:50  ...    30244.0    10
976  Запись пользователя № - user_970 2019-04-20 10:35:54  ...    30691.0    10
991  Запись пользователя № - user_965 2019-04-20 12:55:41  ...     6927.0    12

[133 rows x 5 columns]

In [ ]:
#Cколько раз люди приходили, но не делали ставки?
log = pd.read_csv("/log.csv", header=None)
log.columns = ["user_id", "time", "bet", "win"]
log["bet"].fillna(0).value_counts()

0.0          515
500.0         50
100.0         48
800.0         42
300.0         42
200.0         40
400.0         40
700.0         38
1000.0        37
600.0         37
900.0         30
10554.0       10
9754.0        10
10154.0        7
10254.0        7
9954.0         6
10454.0        6
10754.0        5
10654.0        5
10054.0        4
10354.0        4
9854.0         2
8734.0         1
12945.0        1
27000.0        1
12548.0        1
9876.0         1
156789.0       1
950.0          1
8700.0         1
7650.0         1
123981.0       1
5000.0         1
1678321.0      1
98753.0        1
145732.0       1
104540.0       1
Name: bet, dtype: int64